@import "@michigg/component-library/dist/style.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Border Radius */
:root {
  --radius-md: .75rem;
}

:root {
  color-scheme: dark light;

  --card-radius: 1rem;

  --space-xxs: .25rem;
  --space-xs: .5rem;
  --space-sm: 1rem;
  --space-md: 1.5rem;
  --space-lg: 2rem;
  --space-xl: 3rem;
  --space-xxl: 6rem;

  /*--hue: 225;*/
  --hue: 36;
  --hue-danger: 10;
  --hue-success: 120;
  --hue-info: 200;

  --color-primary: hsl(var(--hue), 100%, 55%);
  --color-primary-border: hsl(var(--hue) 30% 20%);
  --color-focus: hsl(var(--hue) 60% 35%);
  --color-info: hsl(var(--hue-info) 60% 35%);
  --color-danger: hsl(var(--hue-danger) 100% 50%);
  --color-success: hsl(var(--hue-success), 100%, 50%);

  --color-text: hsl(var(--hue), 50%, 90%);
  --color-text-headline: hsl(var(--hue), 50%, 85%);
  --color-text-sub: hsl(var(--hue), 50%, 90%);
  --color-text-button: hsl(var(--hue), 50%, 10%);

  --color-surface-1: hsl(var(--hue), 30%, 15%);
  --color-surface-2: hsl(var(--hue), 50%, 20%);
  --color-surface-3: hsl(var(--hue), 50%, 25%);
  --color-surface-success: hsl(var(--hue-success), 50%, 25%);
  --color-surface-success-hover: hsl(var(--hue-success), 50%, 30%);
}

@media (prefers-color-scheme: light) {
  :root {
    --hue: 36;
    --color-primary: hsl(var(--hue), 100%, 50%);
    --color-primary-border: hsl(var(--hue) 30% 20%);
    --color-focus: hsl(var(--hue) 60% 35%);
    --color-info: hsl(var(--hue-info) 90% 75%);
    --color-danger: hsl(var(--hue-danger) 100% 50%);
    --color-success: hsl(var(--hue-success), 100%, 30%);

    --color-text: hsl(var(--hue), 50%, 10%);
    --color-text-headline: hsl(var(--hue), 50%, 25%);
    --color-text-sub: hsl(var(--hue), 50%, 10%);
    --color-text-button: hsl(var(--hue), 50%, 95%);

    --color-surface-1: hsl(var(--hue), 10%, 95%);
    --color-surface-2: hsl(var(--hue), 100%, 80%);
    --color-surface-3: hsl(var(--hue), 100%, 65%);
    --color-surface-success: hsl(var(--hue-success), 65%, 60%);
    --color-surface-success-hover: hsl(var(--hue-success), 65%, 50%);
  }
}

@font-face {
  font-family: 'Quicksand';
  src: local('Quicksand'), url('fonts/Quicksand/Quicksand-VariableFont_wght.ttf') format('truetype');
  font-weight: 300 700;
}

@font-face {
  font-family: 'SigmarOne';
  src: local('SigmarOne'), url('fonts/Sigmar_One/SigmarOne-Regular.ttf') format('truetype');
  font-weight: 800;
}

* {
  box-sizing: border-box;
  margin: 0;
}

html {
  block-size: 100%;
  background-color: var(--color-surface-1);
  color: var(--color-text)
}

body, #app {
  min-block-size: 100%;
  height: 100%;
}

body {
  font-family: Quicksand, system-ui, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: normal;
}

h1, h2, h3 {
  font-family: SigmarOne, sans-serif;
  font-weight: 500;
  color: var(--color-text-headline)
}

h1 {
  font-weight: bold;
  font-size: 1.5rem !important;
  color: var(--color-primary)
}

h2 {
  font-size: 1.25rem !important;
}

h3 {
  font-size: 1rem !important;
}

a {
  font-weight: bold;
}

small {
  line-height: 1.5;
}
